<!DOCTYPE html>
<html lang="en">
<head>
    {% metagen 
        title="Conversion Dictionary",
        desc="A site containing conversion calculators.",
        url="https://convertem.netlify.app",
        twitterHandle="@tannerdolby",
        name="Tanner Dolby"
    %}
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <a href="#main-home" class="skip-link">Skip to content</a>
    <header>
        <h1>Conversion Dictionary</h1>
    </header>
    <nav class="top-nav">
        <ul class="nav-list">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="https://github.com/tannerdolby">Contribute</a>
            </li>
        </ul>
    </nav>
    <main class="main-content" id="main-home">
        <p>Your goto spot for any and all conversion calculators. This list is ever evolving so make sure to keep checking back
            for even more supported conversion calculations.
        </p>
        <ol class="conversion-list">
            {% for page in collections.conversions %}
                <li>
                    <a href="{{ page.url }}">{{ page.data.title }}</a>
                </li>
            {% endfor %}
        </ol>
    </main>
    <footer>
        <p>&copy; {% getYear %} Tanner Dolby. Powered by <a href="https://11ty.dev">Eleventy</a> and <a href="https://netlify.com">Netlify</a></p>
    </footer>
</body>
</html>